<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Создать доску. Task Manager</title>
    <style>
        .list-group-item {
            margin: 0 auto;
            padding-left: 50px;
            width: 30%;
        }


    </style>
</head>
<body style="background: url(https://avatanplus.com/files/resources/original/577c80ded65a0155be57669e.jpg)">
<nav class="navbar navbar-dark bg-dark py-2" style="margin-bottom: 1em">
    <div>
        <a class="navbar-brand" href="">TasksManager</a>
    </div>
</nav>
<div class="list-group" style="border-radius: 20px">
    <form action="" method="post"> {% csrf_token %}
        <a class="list-group-item list-group-item-action active mark">
            Создать новую доску
        </a>
        <a class="list-group-item list-group-item-action">
            <tr>
                <td><input type="text" name="url" maxlength="50" required id="id_url" placeholder="url"></td>
            </tr>
        </a>
        <a class="list-group-item list-group-item-action">
            <tr>
                <td><input type="text" name="name" maxlength="32" required id="id_name" placeholder="Название команды">
                </td>
            </tr>
        </a>
        <a class="list-group-item list-group-item-action">
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Создать</button>
        </a>
    </form>
</div>
</body>
</html>
