{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Задания. Task Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <style>
        .list-group-item {

            margin: 0 auto;
            padding-left: 50px;
            width: 55%;
        }
        .mark {
            margin: 0 auto;
        }


    </style>
    <title>Все задания</title>

</head>
<body background="https://million-wallpapers.ru/wallpapers/4/37/416169308315639.jpg">
<nav class="navbar navbar-dark bg-dark py-2" >
    <div>
        <a class="navbar-brand" href="/id/{{ user_name }}">TasksManager</a>
    </div>
</nav>
<p align="left" >
    <form action="javascript:history.back()">
    <button type="submit" class="btn btn-danger" style="margin-left: 15px">Назад</button>
</form>

    <a class="list-group-item list-group-item-action active mark">
        Все задания
    </a>
    {% for task in all_task_list %}
        <a class="list-group-item list-group-item-action">
            <h4> {{ task.name }}</h4>
            <em> {{ task.task }} </em>
            <br/><br/>
            <p> {{ task.deadLine }} </p>
            <form action="/{{ user_name }}/tasks/{{ task.id }}/edit">
                <button type="submit" class="btn btn-outline-info">Редактировать</button>
            </form>
        </a>
    {% endfor %}
    <a class="list-group-item list-group-item-action" href="/{{ user_name }}/tasks/{{ url }}/add/" style="color: #4e7edc">
        <br/>
        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        </svg>
        Добавить задание
        <br>
        <br>
    </a>
</div>

</body>
</html>
