<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Редактирование</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <script>
        function confirmDialog() {
            var result = confirm("Вы действительно хотите удалить задание?");

            if (result) {
                location.href = "/tasks/{{ task.id }}/delete";
            }
        }
    </script>
</head>
<body style="background-image: url(https://avatanplus.com/files/resources/original/577c80ded65a0155be57669e.jpg)">
<div class="container-fluid justify-content-center col-6 py-md-5" style="margin: 1em auto auto;">

    <div class="card container-fluid" style="width: auto; padding: 1em; height: auto">
    <h3 style="text-align: center; margin-bottom: 40px; margin-top: 20px">Внесите изменения</h3>
        <form action="" method="post">{% csrf_token %}
            <tr style="margin: auto">
                <th><label for="id_name">Выполняющий:</label></th>
                <td><select name="name" required id="id_name">
                    <option value="{{ task.name.id }}">{{ task.name.first_name}} {{ task.name.last_name }}</option>
                    {% for name in name_list %}
                        {% if name != task.name %}
                            <option value="{{ name.id }}">{{ name.first_name}} {{ name.last_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select></td>
            </tr>
            <hr/>
            <tr>
                <th><label for="id_deadLine">Срок сдачи:</label></th>
                <td><input type="date" name="deadLine" value='{{ task.deadLine.isoformat }}' required id="id_deadLine">
                </td>
            </tr>
            <hr/>
            <tr>
                <th><label class="col-3" for="id_task">Описание:</label></th>
                <td><textarea class="col-9" name="task" required id="id_task">{{ task.task }}</textarea></td>
            </tr>
            <hr/>
            <tr>
                <th><label for="id_progerssBar">Прогресс:</label></th>
                <td>
                    <input type="range" name="progerssBar"
                           min="0" max="100" required id="id_progerssBar" value='{{ task.progerssBar }}'>
                    <output id="ong" for="id_progerssBar">0</output>
                    <script>
                        $(function () {
                            var el;
                            $("#id_progerssBar").change(function () {
                                el = $(this);
                                el
                                    .next("#ong")
                                    .text(el.val() + "%");
                            })
                                .trigger('change');
                        });
                    </script>
                </td>
            </tr>
            <hr/>
            <div>
                <button type="submit" class="btn btn-primary btn-success" style="float: right; margin-left: 10px">Изменить</button>
                <a>
                    <button type="button" class="btn btn-primary btn-danger" id="delete_task" name="delete_task"
                            style="float: right" onclick="confirmDialog()">
                        Удалить
                    </button>
                </a>
                <a href="/dashboard/{{ task.team.url }}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: left">Отмена
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
