{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ team.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        function confirmDialog() {
            var result = confirm("Вы действительно хотите выйти из аккаунта?");
            if (result) {
                location.href = "/logout"
            }
        }

        {#function confirmDialogExitDashboard() {#}
        {#    var result = confirm("Вы действительно хотите покинуть доску?");#}
        {#    if (result) {#}
        {#        location.href = "/{{ dashboards.url }}/exit"#}
        {#    }#}
        {# }#}
    </script>
</head>
<body style="background: url(https://avatanplus.com/files/resources/original/577c80ded65a0155be57669e.jpg)">

<nav class="navbar navbar-dark bg-dark py-2" style="margin-bottom: 1em">
    <div>
        <a class="navbar-brand">TasksManager</a>
    </div>
    <button onClick='confirmDialog()' type="button" class="btn btn-danger"
            style="margin: 0; float: right">Выйти
    </button>
</nav>

<div>
    <div class="container-fluid">
        <div class="row justify-content-center">

            <!-- Список команд -->
            <div class="container-fluid col-md-3">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active mark">
                        Dashboards
                    </a>

                    {% for dashboards in dashboards_list %}
                        <div class="list-group-item list-group-item-action" style="padding: 0.4em">
                            <!-- Переход к команде -->
                            <a href="/dashboard/{{ dashboards.url }}/" class="col-8"><b>{{ dashboards.name }}</b></a>
                            <a href="/{{ dashboards.url }}/exit" onclick="return confirm('Вы действительно хотите покинуть доску?');">
                                <button type="button" class="btn" id="exit_url"
                                        name="exit_url"
                                        style="float: right; padding: 0.1em; text-align: center; margin-right: 5px">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"></path>
                                        <path fill-rule="evenodd"
                                              d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"></path>
                                        <path fill-rule="evenodd"
                                              d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"></path>
                                    </svg>
                                </button>
                            </a>
                        </div>
                    {% endfor %}

                    <!-- Создание команды -->
                    <form action=''>
                        <a class="list-group-item list-group-item-action" href="" data-toggle="modal"
                           data-target="#addTeam"
                           style="color: #4e7edc">
                            <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
                                <path fill-rule="evenodd"
                                      d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            </svg>
                            Новая команда
                            <br>
                        </a>
                    </form>

                    <!-- Окно создания команды -->
                    <div class="modal" id="addTeam" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenteredLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenteredLabel">Создание новой доски</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group" style="border-radius: 20px">
                                        <form action="" method="post"> {% csrf_token %}
                                            <tr>
                                                <td>
                                                    <label class="col-6" for="id_url">Ссылка на доску:</label><input
                                                        type="text" name="url" maxlength="50" required id="id_url"
                                                        placeholder="url">
                                                </td>
                                            </tr>
                                            <br>
                                            <tr>
                                                <td>
                                                    <label class="col-6" for="id_name">Название команды:</label><input
                                                        type="text" name="name" maxlength="32" required id="id_name"
                                                        placeholder="Название команды">
                                                </td>
                                            </tr>
                                            <button type="submit" class="btn btn-primary btn-success"
                                                    style="margin-top: 10px">
                                                Создать
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Присоединение к команде -->
                    <a class="list-group-item list-group-item-action" data-toggle="modal"
                       data-target="#joinTeam" href="" style="color:green;">
                        &#10140; Присоединиться к команде
                    </a>
                    <!-- Окно присоединения -->
                    <div class="modal" id="joinTeam" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenteredLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenteredLabel">Присоединиться к команде</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group" style="border-radius: 20px">
                                        <div id="join">
                                            <form action="" method="POST"> {% csrf_token %}
                                                <div style="margin: 5px 5px 0 5px">
                                                    <input type="text" id="join_url" name="join_url" maxlength="32"
                                                           placeholder="URL"
                                                           style="width: 100%;"/>
                                                </div>
                                                <br>
                                                <div style="display: inline;float: right">
                                                    <input type="submit" class="btn btn-primary btn-success"
                                                           style="margin: auto" value="Присоединиться">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Спискок задач команды -->
            <div class="col-md-4">
                <div id="accordion" role="tablist">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action active mark">
                            Tasks List
                        </a>

                        <!-- Кнопка вызова окна задачи -->
                        {% for task in all_task_list %}
                            <a data-toggle="collapse" href="#{{ task.id }}" aria-expanded="true"
                               aria-controls="collapseOne" style="color: black; text-decoration: none">
                                <div class="card-header list-group-item" role="tab" id="headingOne"
                                     style="height: 3em; overflow: hidden;{% if task.progerssBar == 100 %}
                                        background: lightgreen;
                                         {% elif task.deadLine < now%}
                                         background: #ffcccc;
                                         {% elif task.name.username == user.username %}
                                         background: lightblue;
                                     {% endif %} ">
                                    <p style="display: inline">
                                        {{ task.task }}
                                    </p>
                                </div>
                            </a>

                            <!-- Окно задачи -->
                            <div id="{{ task.id }}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body" style="background: white">
                                    <div class="album">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="card mb" style="border: none">
                                                        <div style="height: 1.5em">
                                                            <!-- Кнопка редактирования -->
                                                            <form action="/tasks/{{ task.id }}/edit">
                                                                <button type="submit"
                                                                        class="btn btn-secondary btn-sm"
                                                                        style="float: right;text-align: center; height: min-content">
                                                                    Редактировать
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <div class="col-auto my-1">
                                                            <p>Выполняет: {{ task.name.first_name}} {{ task.name.last_name }}</p>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Описание</label>
                                                                <text class="form-control"
                                                                      id="exampleFormControlTextarea1"
                                                                      style="overflow: auto; resize: none; height: 5em">
                                                                    {{ task.task }}
                                                                </text>
                                                            </div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <p>Deadline: </p>
                                                                <main class="container-fluid">
                                                                    <p>{{ task.deadLine }}</p>
                                                                </main>
                                                            </div>
                                                        </div>
                                                        <link href="{% static "../static\css\tinytools.progressbar.min.css" %}"
                                                              rel="stylesheet" type="text/css"/>
                                                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                                                        <script src="{% static "../static\js\tinytools.progressbar.min.js" %}"
                                                                type="text/javascript"></script>
                                                        <div class="container-fluid">
                                                            <div id="ProgressBarSample{{ task.id }}"
                                                                 style="width: 75%; height: 2em; margin: auto auto 1em;"></div>
                                                        </div>
                                                        <script type="text/javascript">
                                                            $(document).ready(function () {
                                                                $("#ProgressBarSample{{ task.id }}").progressBar().changePercent({{ task.progerssBar }});
                                                            });
                                                        </script>
                                                        {% if task.progerssBar < 100 %}
                                                        <div class="container-fluid">
                                                            <form action="/tasks/{{ task.id }}/done">
                                                            <input type="submit" class="btn btn-primary btn-success" style="float: right; margin-top: 10px" value="Выполнено">
                                                            </form>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Task add -->
                <form action=''>
                    <a class="list-group-item list-group-item-action" href="" data-toggle="modal"
                       data-target="#exampleModalCentered"
                       style="color: #4e7edc">
                        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
                            <path fill-rule="evenodd"
                                  d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        </svg>
                        Добавить задание
                        <br>
                    </a>
                </form>
                <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenteredLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenteredLabel">Добавление задачи</h5>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post">{% csrf_token %}
                                    <tr>
                                        <th><label for="id_name">Выполняющий:</label></th>
                                        <td><select name="name" required id="id_name">
                                            {% for name in name_list %}
                                                <option value="{{ name.id }}">{{ name.first_name }} {{ name.last_name }}</option>
                                            {% endfor %}
                                        </select></td>
                                    </tr>
                                    <hr/>
                                    <tr>
                                        <th><label for="id_deadLine">Срок сдачи:</label></th>
                                        <td><input type="date" name="deadLine" required id="id_deadLine"></td>
                                    </tr>
                                    <hr/>
                                    <tr>
                                        <th><label for="id_task">Описание:</label></th>
                                        <td><textarea name="task" cols="40" rows="10" required id="id_task"
                                                      style="resize: none"></textarea>
                                        </td>
                                    </tr>
                                    <hr/>
                                    <tr>
                                        <th><label for="id_progerssBar">Прогресс:</label></th>
                                        <td>
                                            <input type="range" name="progerssBar"
                                                   min="0" max="100" required id="id_progerssBar">
                                            <output id="ong" for="id_progerssBar">0</output>
                                            <script>
                                                $(function () {
                                                    var el;
                                                    $("#id_progerssBar").change(function () {
                                                        el = $(this);
                                                        el
                                                            .next("#ong")
                                                            .text(el.val() + "%");
                                                    })
                                                        .trigger('change');
                                                });
                                            </script>
                                        </td>
                                    </tr>
                                    <hr/>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-success">Добавить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Список участников -->
            <div class="list-group container-fluid col-md-3">
                <a class="list-group-item list-group-item-action active mark">
                    Members
                </a>
                {% for people in name_list %}
                    <a class="list-group-item list-group-item-action">
                        <ul class="list-group" style="overflow: hidden">
                            <li {% if people.username == user.username %} style="color: blue; font-weight: bold" {% endif %}>{{ people.first_name }} {{ people.last_name }}</li>
                        </ul>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
