<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Все доски</title>

    <style>
        .list-group-item {
            margin: 0 auto;
            padding-left: 50px;
            width: 30%;
        }

        .mark {
            display: inline-block;
            margin-top: 50px;

        }

        #join:target {
            display: block;
        }
    </style>

    <script>
        function confirmDialog() {
            var result = confirm("Вы действительно хотите выйти из аккаунта?");
            if (result) {
                location.href = "/logout"
            }
        }
    </script>
</head>
<body style="background: url(https://avatanplus.com/files/resources/original/577c80ded65a0155be57669e.jpg)">
<nav class="navbar navbar-dark bg-dark py-2">
    <div>
        <a class="navbar-brand">TasksManager</a>
    </div>
    <button onClick='confirmDialog()' type="button" class="btn btn-danger">Выйти</button>
</nav>
<p align="right">

<div class="list-group">
    <a class="list-group-item list-group-item-action active mark">
        Dashboards
    </a>
    {% for dashboards in dashboards_list %}
        <div class="list-group-item list-group-item-action">
            <a href="/dashboard/{{ dashboards.url }}/">{{ dashboards.name }}</a>
            <a href="/{{ dashboards.url }}/exit" onclick="return confirm('Вы действительно хотите покинуть доску?');">
                <button type="button" class="btn" id="exit_url"
                        name="exit_url"
                        style="float: right; padding: 0.1em; text-align: center; margin-right: 5px">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"></path>
                        <path fill-rule="evenodd"
                              d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"></path>
                        <path fill-rule="evenodd"
                              d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"></path>
                    </svg>
                </button>
            </a>
        </div>
    {% endfor %}
    <a href="/dashboard/add" class="list-group-item list-group-item-action " style="color: #4e7edc">
        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        </svg>
        Добавить новую доску
    </a>
    <a class="list-group-item list-group-item-action" href="#join" style="color:green;" data-toggle="modal">
        &#10140; Присоединиться к доске
    </a>
</div>
<div class="modal" id="join" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenteredLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Присоединиться к команде</h5>
            </div>
            <div class="modal-body">
                <div class="list-group" style="border-radius: 20px">
                    <div id="join">
                        <form action="" method="post"> {% csrf_token %}
                            <div style="margin: 5px 5px 0 5px; ">
                                <input type="text" id="url" name="url" maxlength="32" placeholder="URL"
                                       style="width: 100%;"/>
                            </div>
                            <br/>
                            <div style="display: inline">
                                <input type="submit" onclick="location.href=''" class="btn btn-primary"
                                       style="margin: auto; float: right"  value="Присоединиться">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>