<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset is Done</title>
</head>
<body>
    <h1>The password has been changed!</h1>
<p><a href="{% url 'login' %}">log in again?</a></p>

</body>
</html>
